<main>
<div class="container">
  <h1>Great, thanks for your order!</h1>
  <%= @session %>
  <hr>
  <%= @product_id %>
  <%= @product.inspect %>

  <p> <%= link_to('Now go order some more!!!', wines_path) %></p>
</div>
</main>
