<h3 class="h2 mb-5">Details</h3>
<div class="section-layout">
  <article>
    <h4>Varietal</h4>
    <p>100% Sangiovese Grosso</p>
  </article>
  <article>
    <h4>Available Vintage</h4>
    <p>2012, 2013, 2015</p>
  </article>
  <article>
    <h4>Package Type</h4>
    <p>6x750ml, 1x 1,500ml</p>
  </article>
  <article>
    <h4>Aging Potential</h4>
    <p>15 years</p>
  </article>
</div>
