<div class="banner">
  <div class="container">
    <%= link_to(retailer_path, class: 'link') do %>
      Become a retail partner&nbsp;
      <i class="bi bi-arrow-right"></i>
    <% end %>
  </div>
</div>
