<div
  class="offcanvas offcanvas-end"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasCart"
  aria-labelledby="offcanvasCart"
>
  <div class="offcanvas-header">
    <h2 class="offcanvas-title" id="offcanvasScrollingLabel">Cart</h2>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0">
    <% if account_signed_in? %>
      <div class="px-3">
        <% @cart.each do |cart_item| %>
          <div>
            <%= cart_item.name %>
            <%= link_to "x", remove_from_cart_path(cart_item), method: :delete %>
          </div>
        <% end %>
        <%= button_to('Go to checkout', checkout_purchase_path, remote: true) %>
      </div>
    <% else %>
      <div class="px-3">
        Sign in to view your cart!
      </div>
    <% end %>
  </div>
</div>
