<div class="collapse" id="collapseSearch">
  <div class="card card-body shadow-sm flex-row align-items-center justify-content-between" style="border-top: none;">
    <form class="flex-fill">
      <input
        type="search"
        class="form-control form-control-lg flex-fill"
        placeholder="Search wines, olive oils and spreads"
        aria-label="Search"
      >
    </form>
    <i
      class="bi bi-x"
      style="color: #ab4b57; font-size: 32px;"
      data-bs-toggle="collapse"
      data-bs-target="#collapseSearch"
      aria-expanded="false"
      aria-controls="collapseSearch"
    ></i>
  </div>
</div>
